
.App {
  text-align: center;
}
#root{
  height: 100%;
}
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
 .logo {
  width: 120px;
  height: 31px;
  display: block;
  background: rgba(255,255,255,.2);
  margin: 16px 28px 16px 0;
  float: left;
}
.moviebox{
   display: flex;
   justify-content: space-between;
   flex-wrap: wrap;
}
.movielistbox{
  width: 180px;
  text-align: center;
  padding: 4px;
  margin: 10px 5px;
  border:1px solid #eee;
  box-shadow:0 0 10px #bbb;
  transition: all 0.2s
}
.movielistbox:hover{
  box-shadow: rgba(0,0,0,0.3) 0px 19px 60px,rgba(0,0,0,0.22) 0px 15px 20px;
}
.lyheight{
  height: 100%;
}
.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
#root{
  height: 100%;
}
